body {
  font-family: Arial,  sans-serif; /* Familia de fuentes */
  font-size: 16px; /* El tamaño de la fuente principal en el tag <p></p> */
  background-color: rgb(51, 51, 51); /* El color del fondo de la página web */
  color: rgb(255, 255, 255); /* El color del texto*/ 
}
h1 {
  color: #00ff00; /* El color de la cabecera */
  font-size: 24px; /* El tamaño de la fuente de la cabecera */
  font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}